<h1>Welcome to the Curiosity Closet</h1>
<h2>The internet's oddest marketplace</h2>

<h3>Categories</h3>

{{#each model as |category|}}
<p>{{ category-tile category=category }}</p>
{{/each}}

{{new-category save="save"}}
